






























































































































































.taobaolist[_v-fd55c652] {
    margin-top: .18rem;
}

.clipboard-tips[_v-fd55c652] {
    text-align: center;
    color: #b0b0b0;
    font-size: .24rem;
}

.tips[_v-fd55c652] {
    margin-top: 2rem;
    text-align: center;
    color: #808080;
    font-size: .32rem;
}
