<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>img_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1664, 308}, {379, 78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1664, 308}, {379, 78}}</string>
			<key>sourceSize</key>
			<string>{379, 78}</string>
		</dict>
		<key>img_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1664, 386}, {250, 218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1664, 386}, {250, 218}}</string>
			<key>sourceSize</key>
			<string>{250, 218}</string>
		</dict>
		<key>img_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1664, 0}, {386, 308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1664, 0}, {386, 308}}</string>
			<key>sourceSize</key>
			<string>{386, 308}</string>
		</dict>
		<key>img_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{958, 936}, {416, 346}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958, 936}, {416, 346}}</string>
			<key>sourceSize</key>
			<string>{416, 346}</string>
		</dict>
		<key>img_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1034, 0}, {630, 365}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1034, 0}, {630, 365}}</string>
			<key>sourceSize</key>
			<string>{630, 365}</string>
		</dict>
		<key>img_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{536, 936}, {422, 374}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{536, 936}, {422, 374}}</string>
			<key>sourceSize</key>
			<string>{422, 374}</string>
		</dict>
		<key>img_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1034, 365}, {532, 564}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1034, 365}, {532, 564}}</string>
			<key>sourceSize</key>
			<string>{532, 564}</string>
		</dict>
		<key>img_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 936}, {536, 425}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 936}, {536, 425}}</string>
			<key>sourceSize</key>
			<string>{536, 425}</string>
		</dict>
		<key>img_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {1034, 936}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1034, 936}}</string>
			<key>sourceSize</key>
			<string>{1034, 936}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>hash</key>
		<string>3cbc982eaa</string>
		<key>name</key>
		<string>images</string>
		<key>realTextureFileName</key>
		<string>images.png</string>
		<key>size</key>
		<string>{2050, 1361}</string>
		<key>textureFileName</key>
		<string>images.png</string>
		<key>version</key>
		<string>0.13</string>
	</dict>
</dict>
</plist>
