<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ring_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-65}</string>
                <key>spriteSize</key>
                <string>{294,308}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1099},{294,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-63}</string>
                <key>spriteSize</key>
                <string>{316,332}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{363,1093},{316,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-59}</string>
                <key>spriteSize</key>
                <string>{334,348}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{363,757},{334,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-53}</string>
                <key>spriteSize</key>
                <string>{346,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,751},{346,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-44}</string>
                <key>spriteSize</key>
                <string>{362,378}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,387},{362,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-30}</string>
                <key>spriteSize</key>
                <string>{372,406}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{455,383},{372,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{380,434}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{455,1},{380,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{384,452}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{384,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{713,757},{113,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ring.png</string>
            <key>size</key>
            <string>{890,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:180b7becc558a76557a8937363f3d964:0f402a4c393cb738827cfca5eafeebb1:215356365a731af160df69bb8cb9816c$</string>
            <key>textureFileName</key>
            <string>ring.png</string>
        </dict>
    </dict>
</plist>
