<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,17}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1785,525},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,17}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{495,1109},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,17}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1389,1231},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,16}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1673,643},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,15}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1673,527},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,15}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{379,1109},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,14}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1823,945},{126,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,12}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1823,667},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,14}</string>
                <key>spriteSize</key>
                <string>{136,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1823,807},{136,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,13}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{245,1113},{132,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,13}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1823,525},{134,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{214,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1795,1073},{214,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,9}</string>
                <key>spriteSize</key>
                <string>{222,144}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1649,1007},{222,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1659,771},{234,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{242,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,1113},{242,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{248,204}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{557,1089},{248,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,17}</string>
                <key>spriteSize</key>
                <string>{254,224}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1393,1005},{254,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{260,232}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1397,771},{260,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{266,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1677,281},{266,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{270,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1405,277},{270,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{272,254}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{841,1061},{272,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{274,258}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{847,273},{274,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{272,260}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1119,799},{272,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{278,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{565,275},{278,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{278,266}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1691,1},{278,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,268}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1129,1},{280,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{280,270}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{847,1},{280,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{280,272}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{565,1},{280,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{278,274}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,837},{278,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{280,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{278,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,559},{278,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{280,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{283,1},{280,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{278,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{283,279},{278,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{274,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1411,1},{274,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{274,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{281,831},{274,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{272,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{563,541},{272,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{272,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{563,815},{272,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{272,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{283,557},{272,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{274,262}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{845,533},{274,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{274,262}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{843,797},{274,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{274,262}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1129,271},{274,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{274,262}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1121,535},{274,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{272,254}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1115,1061},{272,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,18}</string>
                <key>spriteSize</key>
                <string>{266,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1405,527},{266,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>castle_fireworks.png</string>
            <key>size</key>
            <string>{1958,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae12e3ca006f0ebc4eb66c18aaa6b46:bc5b3088f73cedcfd30311fa662571b0:de1c29ee1767028bdfc239864235ba45$</string>
            <key>textureFileName</key>
            <string>castle_fireworks.png</string>
        </dict>
    </dict>
</plist>
