<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1203,1334}</string>
                <key>spriteSourceSize</key>
                <string>{1203,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{1203,1334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,407}</string>
                <key>spriteSourceSize</key>
                <string>{418,407}</string>
                <key>textureRect</key>
                <string>{{1,1337},{418,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{421,1724},{18,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>brow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{465,1724},{16,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{633,1441},{78,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,127}</string>
                <key>textureRect</key>
                <string>{{421,1595},{175,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,124}</string>
                <key>spriteSourceSize</key>
                <string>{201,124}</string>
                <key>textureRect</key>
                <string>{{507,1337},{201,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,107}</string>
                <key>spriteSourceSize</key>
                <string>{155,107}</string>
                <key>textureRect</key>
                <string>{{598,1595},{155,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lift-hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{507,1540},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{435,1724},{17,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right-hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,102}</string>
                <key>spriteSourceSize</key>
                <string>{63,102}</string>
                <key>textureRect</key>
                <string>{{633,1337},{63,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,256}</string>
                <key>spriteSourceSize</key>
                <string>{84,256}</string>
                <key>textureRect</key>
                <string>{{421,1337},{84,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{1205,1745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f8e5c40e018775d237b2d758067c9c5:e599cfc962e0c96d836aa23168680809:2904f34ed51771f70a05a1fbadbb6a19$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
