<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon-pink-word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{178,417}</string>
                <key>spriteSourceSize</key>
                <string>{202,441}</string>
                <key>textureRect</key>
                <string>{{1,445},{178,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon-pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{178,417}</string>
                <key>spriteSourceSize</key>
                <string>{202,465}</string>
                <key>textureRect</key>
                <string>{{181,445},{178,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon-white-word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{194,442}</string>
                <key>spriteSourceSize</key>
                <string>{224,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{170,400}</string>
                <key>spriteSourceSize</key>
                <string>{204,428}</string>
                <key>textureRect</key>
                <string>{{197,1},{170,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloon.png</string>
            <key>size</key>
            <string>{368,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d528b46fc159761ca2f90bd90a5c2f02:1b95a2c224cc720fb5d2be4a184c086c:0208e3286bb61d499542627ad0572fbf$</string>
            <key>textureFileName</key>
            <string>balloon.png</string>
        </dict>
    </dict>
</plist>
