<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{832,1793},{94,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butterfly1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{813,1695},{96,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butterfly2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{564,1880},{86,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{652,1880},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-9}</string>
                <key>spriteSize</key>
                <string>{134,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1297},{134,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-10}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{729,1695},{128,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower1_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,1},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,187},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,373},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,559},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,745},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,745},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-12}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1880},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-10}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{819,1297},{128,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1075},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1075},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1694},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,1694},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{365,1694},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{547,1694},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-9}</string>
                <key>spriteSize</key>
                <string>{130,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1433},{130,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-11}</string>
                <key>spriteSize</key>
                <string>{126,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{819,1427},{126,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-13}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{125,1880},{118,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-11}</string>
                <key>spriteSize</key>
                <string>{124,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{821,1555},{124,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-9}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1565},{128,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-9}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,1565},{128,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{190,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,931},{190,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{100,111}</string>
                <key>textureRect</key>
                <string>{{730,1825},{100,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{124,110}</string>
                <key>textureRect</key>
                <string>{{733,1185},{124,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,76}</string>
                <key>spriteSourceSize</key>
                <string>{105,76}</string>
                <key>textureRect</key>
                <string>{{245,1880},{105,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,73}</string>
                <key>textureRect</key>
                <string>{{352,1880},{104,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,73}</string>
                <key>textureRect</key>
                <string>{{458,1880},{104,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,909}</string>
                <key>spriteSourceSize</key>
                <string>{750,909}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,909}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-270}</string>
                <key>spriteSize</key>
                <string>{730,780}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,912},{730,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vine.png</string>
            <key>size</key>
            <string>{934,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf927c36ab56a954738471aa507fe247:e4270bba1400627201889c5511f427bb:60c796f4f378c23b8ca5559031f5455b$</string>
            <key>textureFileName</key>
            <string>vine.png</string>
        </dict>
    </dict>
</plist>
