<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loose_pulley_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-199}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{853,927},{74,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-166}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{363,1825},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-131}</string>
                <key>spriteSize</key>
                <string>{122,178}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{363,1645},{122,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-89}</string>
                <key>spriteSize</key>
                <string>{162,274}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1287,291},{162,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,-52}</string>
                <key>spriteSize</key>
                <string>{204,360}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1,1695},{204,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-61}</string>
                <key>spriteSize</key>
                <string>{200,340}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1085,319},{200,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-78}</string>
                <key>spriteSize</key>
                <string>{246,300}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{285,743},{246,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-97}</string>
                <key>spriteSize</key>
                <string>{244,258}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1553,1627},{244,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-106}</string>
                <key>spriteSize</key>
                <string>{242,234}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1189,661},{242,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-48}</string>
                <key>spriteSize</key>
                <string>{258,360}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{285,381},{258,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{282,470}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1,381},{282,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-11}</string>
                <key>spriteSize</key>
                <string>{280,446}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1,853},{280,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-34}</string>
                <key>spriteSize</key>
                <string>{274,392}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1,1301},{274,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-59}</string>
                <key>spriteSize</key>
                <string>{292,336}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1491,1},{292,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-85}</string>
                <key>spriteSize</key>
                <string>{316,278}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{283,991},{316,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-81}</string>
                <key>spriteSize</key>
                <string>{350,288}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1139,1},{350,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-43}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-52}</string>
                <key>spriteSize</key>
                <string>{380,358}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{387,1},{380,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-70}</string>
                <key>spriteSize</key>
                <string>{368,316}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{769,1},{368,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-89}</string>
                <key>spriteSize</key>
                <string>{352,272}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{545,361},{352,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-91}</string>
                <key>spriteSize</key>
                <string>{336,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{819,319},{336,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{587,715},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{563,1051},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{545,1585},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1317},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1653},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1451,295},{334,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{277,1309},{334,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1451,563},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{853,661},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{899,927},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1165,927},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1147,1263},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{587,715},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{563,1051},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{545,1585},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1317},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1653},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1451,295},{334,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{277,1309},{334,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1451,563},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{853,661},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{899,927},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1165,927},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1147,1263},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{587,715},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{563,1051},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{545,1585},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1317},{334,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loose_pulley_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{881,1653},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1451,295},{334,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-90}</string>
                <key>spriteSize</key>
                <string>{334,266}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{545,1317},{334,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1431,829},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1431,1095},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1413,1361},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose_pulley_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-91}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,470}</string>
                <key>textureRect</key>
                <string>{{1217,1627},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>great_666.png</string>
            <key>size</key>
            <string>{1828,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18f63f9e11517036f7da39f6c2dd7a6:671a3ce3431ffa4765760367e3b680d1:283a4c363b98f5652e0032d88ffa775d$</string>
            <key>textureFileName</key>
            <string>great_666.png</string>
        </dict>
    </dict>
</plist>
