<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,283}</string>
                <key>spriteSourceSize</key>
                <string>{304,283}</string>
                <key>textureRect</key>
                <string>{{369,391},{304,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,268}</string>
                <key>spriteSourceSize</key>
                <string>{309,268}</string>
                <key>textureRect</key>
                <string>{{421,80},{309,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,418}</string>
                <key>spriteSourceSize</key>
                <string>{356,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,392}</string>
                <key>spriteSourceSize</key>
                <string>{366,392}</string>
                <key>textureRect</key>
                <string>{{1,359},{366,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,77}</string>
                <key>spriteSourceSize</key>
                <string>{272,77}</string>
                <key>textureRect</key>
                <string>{{421,1},{272,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{369,676},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{431,676},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{493,676},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand_666.png</string>
            <key>size</key>
            <string>{694,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19bf2844e77347dfc8f9391d3d35d410:17327d10818d63536e586d5e114151b1:a06f0afb38260356feac9fb28308eb16$</string>
            <key>textureFileName</key>
            <string>hand_666.png</string>
        </dict>
    </dict>
</plist>
