<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{289,1430},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{289,1574},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1,1872},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{804,1867},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1,1289},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{145,1289},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1240,1143},{142,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1679,1240},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1823,1240},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1240,1287},{142,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{827,1428},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{971,1428},{142,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,437}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1,1728},{142,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1115,1679},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1115,1431},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{1241,1823},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{142,435}</string>
                <key>spriteSourceSize</key>
                <string>{162,439}</string>
                <key>textureRect</key>
                <string>{{289,1430},{142,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{473,1},{285,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{886,1},{285,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1299,1},{285,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{886,288},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1299,288},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1712,414},{283,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{886,573},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1299,573},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1712,827},{283,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{414,575},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1,719},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{827,858},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{414,860},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1,1004},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1240,858},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{827,1143},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{414,1145},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1712,1},{285,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{473,288},{285,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{291,427}</string>
                <key>textureRect</key>
                <string>{{1,432},{285,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{289,1289},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,429}</string>
                <key>spriteSourceSize</key>
                <string>{470,429}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{153,166}</string>
                <key>textureRect</key>
                <string>{{1678,1679},{143,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{154,164}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{638,1718},{154,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{255,196}</string>
                <key>spriteSourceSize</key>
                <string>{259,210}</string>
                <key>textureRect</key>
                <string>{{440,1718},{255,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{170,136}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{638,1874},{170,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf7a89c0d6ac8d9c2fb9def2c62dd47:8ea06ad52e3d89e2c7d63fce72c58a07:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
