<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,244}</string>
                <key>spriteSourceSize</key>
                <string>{175,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bluestar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,180}</string>
                <key>spriteSourceSize</key>
                <string>{189,180}</string>
                <key>textureRect</key>
                <string>{{1,178},{189,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,180}</string>
                <key>spriteSourceSize</key>
                <string>{189,180}</string>
                <key>textureRect</key>
                <string>{{1,360},{189,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,290}</string>
                <key>spriteSourceSize</key>
                <string>{208,290}</string>
                <key>textureRect</key>
                <string>{{1,724},{208,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,180}</string>
                <key>textureRect</key>
                <string>{{1,542},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fireworks.png</string>
            <key>size</key>
            <string>{246,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68b6ffe8e08846238a70555853a2bff:1a5cab7cf3d653c207e2c16110127c5c:89c459a5aad513ee15789d2393394abb$</string>
            <key>textureFileName</key>
            <string>fireworks.png</string>
        </dict>
    </dict>
</plist>
