<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{100,186}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{562,680},{100,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{100,190}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{435,367},{100,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,196}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{748,511},{100,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{802,1},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{562,72},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{764,103},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{562,174},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{100,186}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{562,868},{100,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,196}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{748,613},{100,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{764,205},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{646,276},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{748,307},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{748,409},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fire_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{646,478},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,559}</string>
                <key>spriteSourceSize</key>
                <string>{432,559}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,110}</string>
                <key>spriteSourceSize</key>
                <string>{103,110}</string>
                <key>textureRect</key>
                <string>{{435,131},{103,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{545,276},{81,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,238}</string>
                <key>spriteSourceSize</key>
                <string>{69,238}</string>
                <key>textureRect</key>
                <string>{{562,1},{69,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,119}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{435,1},{128,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,129}</string>
                <key>spriteSourceSize</key>
                <string>{108,129}</string>
                <key>textureRect</key>
                <string>{{435,236},{108,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,189}</string>
                <key>spriteSourceSize</key>
                <string>{107,189}</string>
                <key>textureRect</key>
                <string>{{537,367},{107,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,559}</string>
                <key>spriteSourceSize</key>
                <string>{432,559}</string>
                <key>textureRect</key>
                <string>{{1,562},{432,559}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e7a1cff2db083892ff35666ae78181:1abee909f753afda46bad0f97fc13670:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
