<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shine_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-43}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1889,849},{146,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-39}</string>
                <key>spriteSize</key>
                <string>{142,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1889,705},{142,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-36}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{955,1143},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-25}</string>
                <key>spriteSize</key>
                <string>{126,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{783,1143},{126,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-22}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1703,1259},{126,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-17}</string>
                <key>spriteSize</key>
                <string>{124,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1703,1133},{124,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-11}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1759,937},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-8}</string>
                <key>spriteSize</key>
                <string>{126,198}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1195},{126,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-2}</string>
                <key>spriteSize</key>
                <string>{134,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{237,1085},{134,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,1}</string>
                <key>spriteSize</key>
                <string>{140,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1889,1219},{140,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,3}</string>
                <key>spriteSize</key>
                <string>{148,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1889,997},{148,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,7}</string>
                <key>spriteSize</key>
                <string>{164,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{555,1003},{164,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,7}</string>
                <key>spriteSize</key>
                <string>{174,228}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{891,967},{174,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,9}</string>
                <key>spriteSize</key>
                <string>{184,230}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1471,1131},{184,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,10}</string>
                <key>spriteSize</key>
                <string>{192,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1523,937},{192,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,11}</string>
                <key>spriteSize</key>
                <string>{202,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,991},{202,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,13}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1237,951},{220,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,12}</string>
                <key>spriteSize</key>
                <string>{228,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{319,855},{228,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shine_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,11}</string>
                <key>spriteSize</key>
                <string>{248,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{641,769},{248,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,12}</string>
                <key>spriteSize</key>
                <string>{258,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{977,733},{258,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{264,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1257,717},{264,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,12}</string>
                <key>spriteSize</key>
                <string>{276,230}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1611,705},{276,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{278,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{977,499},{278,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{282,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1327,483},{282,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,14}</string>
                <key>spriteSize</key>
                <string>{298,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1631,469},{298,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{302,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1327,249},{302,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{310,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1659,235},{310,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{314,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1659,1},{314,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,13}</string>
                <key>spriteSize</key>
                <string>{334,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,245},{334,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{322,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{683,239},{322,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{322,242}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1013,1},{322,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{328,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{683,1},{328,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{316,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,751},{316,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,18}</string>
                <key>spriteSize</key>
                <string>{340,242}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{320,246}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1337,1},{320,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{318,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1007,245},{318,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{320,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,483},{320,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{338,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{343,1},{338,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{316,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{323,573},{316,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{316,292}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{659,475},{316,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{320,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{337,275},{320,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shine1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb28218d2891eac43c1e46006e47f55:b839ba266e07cbb952654bb50615e404:5e8d8033f8ef2c1e39b5e5b2f3a26edf$</string>
            <key>textureFileName</key>
            <string>shine1.png</string>
        </dict>
    </dict>
</plist>
