<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,-87}</string>
                <key>spriteSize</key>
                <string>{188,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{895,787},{188,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,-92}</string>
                <key>spriteSize</key>
                <string>{210,250}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1085,927},{210,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-93}</string>
                <key>spriteSize</key>
                <string>{234,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1407,1229},{234,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-89}</string>
                <key>spriteSize</key>
                <string>{274,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1085,659},{274,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-86}</string>
                <key>spriteSize</key>
                <string>{294,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{625,1205},{294,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-23}</string>
                <key>spriteSize</key>
                <string>{354,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1397,1},{354,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-3}</string>
                <key>spriteSize</key>
                <string>{340,356}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1377,567},{340,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,3}</string>
                <key>spriteSize</key>
                <string>{318,380}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1361,909},{318,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,7}</string>
                <key>spriteSize</key>
                <string>{290,396}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{507,1},{290,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,23}</string>
                <key>spriteSize</key>
                <string>{232,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{273,1},{232,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,25}</string>
                <key>spriteSize</key>
                <string>{216,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{631,399},{216,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,25}</string>
                <key>spriteSize</key>
                <string>{210,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{799,1},{210,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,24}</string>
                <key>spriteSize</key>
                <string>{234,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{849,397},{234,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,22}</string>
                <key>spriteSize</key>
                <string>{246,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{647,795},{246,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,18}</string>
                <key>spriteSize</key>
                <string>{270,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1207},{270,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,7}</string>
                <key>spriteSize</key>
                <string>{356,396}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{273,401},{356,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{384,384}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1011,1},{384,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{398,376}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{269,805},{398,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,805},{400,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{400,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-32}</string>
                <key>spriteSize</key>
                <string>{350,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1397,301},{350,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-41}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1085,387},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-16}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{391,1205},{272,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-12}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{921,1229},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-16}</string>
                <key>spriteSize</key>
                <string>{238,228}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1177,1229},{238,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_6.png</string>
            <key>size</key>
            <string>{1752,1478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_6.png</string>
        </dict>
    </dict>
</plist>
