<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-91}</string>
                <key>spriteSize</key>
                <string>{254,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,813},{254,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-57}</string>
                <key>spriteSize</key>
                <string>{324,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1017,1327},{324,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-12}</string>
                <key>spriteSize</key>
                <string>{352,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{663,1327},{352,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,15}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,16}</string>
                <key>spriteSize</key>
                <string>{260,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1493,403},{260,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,16}</string>
                <key>spriteSize</key>
                <string>{256,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1079,663},{256,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,16}</string>
                <key>spriteSize</key>
                <string>{254,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{667,669},{254,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,25}</string>
                <key>spriteSize</key>
                <string>{230,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{917,1653},{230,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,25}</string>
                <key>spriteSize</key>
                <string>{226,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1149,1653},{226,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,20}</string>
                <key>spriteSize</key>
                <string>{258,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1785,1575},{258,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,14}</string>
                <key>spriteSize</key>
                <string>{320,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1285,1323},{320,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,11}</string>
                <key>spriteSize</key>
                <string>{320,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{345,1657},{320,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,8}</string>
                <key>spriteSize</key>
                <string>{342,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1657},{342,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{400,406}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1377,1645},{400,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{400,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1491,665},{400,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{400,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1495,1},{400,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{400,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{400,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,415},{400,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{400,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1081,261},{400,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{400,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1079,921},{400,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{400,410}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{667,267},{400,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{400,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{667,925},{400,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{400,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,829},{400,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{400,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1243},{400,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,10}</string>
                <key>spriteSize</key>
                <string>{264,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{667,1},{264,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,11}</string>
                <key>spriteSize</key>
                <string>{258,412}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1081,1},{258,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{400,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1069},{400,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{400,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,411},{400,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{400,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1489,1067},{400,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{394,248}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{667,1653},{394,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-24}</string>
                <key>spriteSize</key>
                <string>{372,250}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1675,1323},{372,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_3.png</string>
        </dict>
    </dict>
</plist>
