<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{192,-32}</string>
                <key>spriteSize</key>
                <string>{16,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1311,1445},{16,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{188,-38}</string>
                <key>spriteSize</key>
                <string>{24,106}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1691,1909},{24,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-55}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{843,697},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{180,-67}</string>
                <key>spriteSize</key>
                <string>{40,140}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1879,1917},{40,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{176,-73}</string>
                <key>spriteSize</key>
                <string>{48,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1191,1991},{48,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,-75}</string>
                <key>spriteSize</key>
                <string>{58,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1637,1849},{58,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,-72}</string>
                <key>spriteSize</key>
                <string>{66,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1853},{66,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-73}</string>
                <key>spriteSize</key>
                <string>{94,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1311,1207},{94,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-75}</string>
                <key>spriteSize</key>
                <string>{104,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{843,1251},{104,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{143,-79}</string>
                <key>spriteSize</key>
                <string>{114,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{843,1009},{114,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-82}</string>
                <key>spriteSize</key>
                <string>{126,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{843,731},{126,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-85}</string>
                <key>spriteSize</key>
                <string>{148,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1811,1767},{148,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-85}</string>
                <key>spriteSize</key>
                <string>{160,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1811,1605},{160,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-86}</string>
                <key>spriteSize</key>
                <string>{170,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1811,1433},{170,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-27}</string>
                <key>spriteSize</key>
                <string>{350,286}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{959,1207},{350,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-8}</string>
                <key>spriteSize</key>
                <string>{350,332}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1099},{350,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,1}</string>
                <key>spriteSize</key>
                <string>{326,372}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{627,1495},{326,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,21}</string>
                <key>spriteSize</key>
                <string>{238,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1407,1609},{238,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,23}</string>
                <key>spriteSize</key>
                <string>{236,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1811,1033},{236,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,25}</string>
                <key>spriteSize</key>
                <string>{222,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1431},{222,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,25}</string>
                <key>spriteSize</key>
                <string>{220,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1827},{220,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,25}</string>
                <key>spriteSize</key>
                <string>{214,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{627,1099},{214,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,25}</string>
                <key>spriteSize</key>
                <string>{206,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1838,397},{206,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,25}</string>
                <key>spriteSize</key>
                <string>{208,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1838,1},{208,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,25}</string>
                <key>spriteSize</key>
                <string>{220,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{799,1823},{220,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{423,697},{400,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{400,420}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1406,403},{400,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{971,805},{400,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1391,805},{400,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1433},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{400,428}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{982,1},{400,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{400,424}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1412,1},{400,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{982,403},{400,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{400,420}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,697},{400,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1407,1207},{400,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,9}</string>
                <key>spriteSize</key>
                <string>{324,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1001,1495},{324,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-37}</string>
                <key>spriteSize</key>
                <string>{330,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{353,1099},{330,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-11}</string>
                <key>spriteSize</key>
                <string>{218,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1828,793},{218,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-13}</string>
                <key>spriteSize</key>
                <string>{196,230}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1405,1849},{196,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,-21}</string>
                <key>spriteSize</key>
                <string>{168,212}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1191,1821},{168,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-31}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{69,1853},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-144,-50}</string>
                <key>spriteSize</key>
                <string>{112,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{209,1853},{112,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,-68}</string>
                <key>spriteSize</key>
                <string>{90,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1691,1935},{90,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-165,-70}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{209,1967},{70,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,-79}</string>
                <key>spriteSize</key>
                <string>{52,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1637,1909},{52,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183,-83}</string>
                <key>spriteSize</key>
                <string>{34,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{843,973},{34,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{979,694}</string>
                <key>spriteSourceSize</key>
                <string>{979,694}</string>
                <key>textureRect</key>
                <string>{{1,1},{979,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_1.png</string>
        </dict>
    </dict>
</plist>
