<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-74}</string>
                <key>spriteSize</key>
                <string>{310,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1727,1637},{310,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-38}</string>
                <key>spriteSize</key>
                <string>{338,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1671,1371},{338,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-17}</string>
                <key>spriteSize</key>
                <string>{354,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1671,711},{354,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-5}</string>
                <key>spriteSize</key>
                <string>{346,344}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1671,1025},{346,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,12}</string>
                <key>spriteSize</key>
                <string>{274,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{531,409},{274,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,15}</string>
                <key>spriteSize</key>
                <string>{266,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{273,1231},{266,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,18}</string>
                <key>spriteSize</key>
                <string>{250,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{277,821},{250,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,18}</string>
                <key>spriteSize</key>
                <string>{248,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{281,411},{248,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,19}</string>
                <key>spriteSize</key>
                <string>{244,406}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1637},{244,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,20}</string>
                <key>spriteSize</key>
                <string>{242,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{601,1},{242,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{400,396}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1645,1},{400,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{400,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{807,407},{400,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1051,1635},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{400,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1641},{400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{400,406}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{529,821},{400,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{400,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{845,1},{400,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{400,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{931,809},{400,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{400,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,403},{400,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{400,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1245,1},{400,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{400,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1641},{400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,5}</string>
                <key>spriteSize</key>
                <string>{290,404}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{827,1229},{290,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,7}</string>
                <key>spriteSize</key>
                <string>{284,406}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{541,1229},{284,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,8}</string>
                <key>spriteSize</key>
                <string>{278,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,411},{278,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,8}</string>
                <key>spriteSize</key>
                <string>{270,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1231},{270,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,9}</string>
                <key>spriteSize</key>
                <string>{274,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,821},{274,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,9}</string>
                <key>spriteSize</key>
                <string>{290,408}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,9}</string>
                <key>spriteSize</key>
                <string>{306,406}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{293,1},{306,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{400,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1645,399},{400,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1119,1211},{400,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1331,805},{400,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{400,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1395,1207},{400,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-37}</string>
                <key>spriteSize</key>
                <string>{310,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1453,1637},{310,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_4.png</string>
            <key>size</key>
            <string>{2046,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_4.png</string>
        </dict>
    </dict>
</plist>
