<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-188,35}</string>
                <key>spriteSize</key>
                <string>{24,212}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1745,467},{24,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-178,5}</string>
                <key>spriteSize</key>
                <string>{44,268}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1727,1609},{44,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-159,-1}</string>
                <key>spriteSize</key>
                <string>{82,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1767,1291},{82,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-2}</string>
                <key>spriteSize</key>
                <string>{124,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1851,1291},{124,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,-10}</string>
                <key>spriteSize</key>
                <string>{170,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1155,1609},{170,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-20}</string>
                <key>spriteSize</key>
                <string>{220,242}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1771,549},{220,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-28}</string>
                <key>spriteSize</key>
                <string>{270,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1727,1},{270,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-34}</string>
                <key>spriteSize</key>
                <string>{318,214}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1779,229},{318,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-38}</string>
                <key>spriteSize</key>
                <string>{364,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1767,793},{364,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{953,805},{400,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{400,268}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{400,260}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{400,260}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1,805},{400,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{400,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1,1207},{400,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{400,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{517,403},{400,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{400,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{741,1},{400,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{400,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{745,805},{400,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{400,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{943,1207},{400,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{400,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{753,403},{400,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{400,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{959,1},{400,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1151,1207},{400,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{961,403},{400,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1159,805},{400,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1357,1207},{400,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{400,202}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1167,403},{400,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{400,202}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1365,805},{400,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{400,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{259,1207},{400,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{400,246}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{271,1},{400,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{263,403},{400,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{400,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{507,805},{400,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{400,214}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{515,1207},{400,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{400,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1365,1},{400,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{400,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1167,1},{400,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{400,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1371,403},{400,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{400,242}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{263,805},{400,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{519,1},{400,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{400,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{731,1207},{400,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{400,202}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1563,1207},{400,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{400,182}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1557,403},{400,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-54}</string>
                <key>spriteSize</key>
                <string>{400,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1569,805},{400,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-56}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1,1609},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-56}</string>
                <key>spriteSize</key>
                <string>{396,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{403,1609},{396,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-56}</string>
                <key>spriteSize</key>
                <string>{352,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{801,1609},{352,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-57}</string>
                <key>spriteSize</key>
                <string>{306,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1419,1609},{306,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-60}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1563,1},{260,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-72}</string>
                <key>spriteSize</key>
                <string>{214,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1563,263},{214,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-76}</string>
                <key>spriteSize</key>
                <string>{168,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1767,1159},{168,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-80}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1727,1655},{124,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d2_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-101}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1851,1655},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{182,-110}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{400,282}</string>
                <key>textureRect</key>
                <string>{{1741,403},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon2.png</string>
            <key>size</key>
            <string>{1998,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:828a7345c431427ad3c364c91f26dc6c:bf4960ab8eb6dd2badd332b44cb1f25b:972de2ca6d3177156587775101e40409$</string>
            <key>textureFileName</key>
            <string>dragon2.png</string>
        </dict>
    </dict>
</plist>
