<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,4}</string>
                <key>spriteSize</key>
                <string>{308,384}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1733},{308,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,10}</string>
                <key>spriteSize</key>
                <string>{280,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1205},{280,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,16}</string>
                <key>spriteSize</key>
                <string>{284,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1761},{284,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,8}</string>
                <key>spriteSize</key>
                <string>{340,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1},{340,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{400,368}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{400,348}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{400,336}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{400,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,887},{400,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1209},{400,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1483},{400,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1765},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{400,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1229},{400,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,290}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,339},{400,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{400,294}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,301},{400,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,351},{400,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,631},{400,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1767},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,927},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,947},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,635},{400,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,641},{400,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{400,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,371},{400,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{400,290}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,343},{400,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{400,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,597},{400,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{400,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,661},{400,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{400,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1453},{400,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1509},{400,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{400,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,917},{400,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,921},{400,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{400,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1785},{400,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{400,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1487},{400,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1171},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1201},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{400,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1489},{400,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_5.png</string>
            <key>size</key>
            <string>{2010,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_5.png</string>
        </dict>
    </dict>
</plist>
