<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-75}</string>
                <key>spriteSize</key>
                <string>{74,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1651,1911},{74,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-80}</string>
                <key>spriteSize</key>
                <string>{84,212}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1437,1911},{84,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,-84}</string>
                <key>spriteSize</key>
                <string>{138,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1197,1855},{138,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{334,366}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1679},{334,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,6}</string>
                <key>spriteSize</key>
                <string>{300,392}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1553},{300,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,5}</string>
                <key>spriteSize</key>
                <string>{368,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1677},{368,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{386,392}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1523},{386,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{400,414}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1255},{400,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1261},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,841},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,419},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,421},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,1259},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,837},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{400,414}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,837},{400,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1,841},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{403,421},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,419},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,419},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{370,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{805,1671},{370,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d3_00137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{400,358}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,837},{400,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1609,1197},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3_00142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{400,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,444}</string>
                <key>textureRect</key>
                <string>{{1207,1253},{400,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon3_2.png</string>
            <key>size</key>
            <string>{2010,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08628df6827e4bbc9b2825c1e44871ec:5f67c06976020a75276102976ddae0b1:f71f96ab2d69e66a301199348f14328d$</string>
            <key>textureFileName</key>
            <string>dragon3_2.png</string>
        </dict>
    </dict>
</plist>
