<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,4}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{401,191},{14,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,22}</string>
                <key>spriteSize</key>
                <string>{32,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1567,1189},{32,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,28}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1379,1185},{52,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,35}</string>
                <key>spriteSize</key>
                <string>{70,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{427,1229},{70,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,42}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{305,1229},{86,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,41}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1751,1055},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,48}</string>
                <key>spriteSize</key>
                <string>{118,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1433,1189},{118,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,55}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1615,1055},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,48}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1693,749},{150,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,50}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1303,1045},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{114,48}</string>
                <key>spriteSize</key>
                <string>{172,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{571,1173},{172,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,41}</string>
                <key>spriteSize</key>
                <string>{190,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{785,559},{190,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,29}</string>
                <key>spriteSize</key>
                <string>{206,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1443,901},{206,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,23}</string>
                <key>spriteSize</key>
                <string>{220,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1081,1037},{220,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,16}</string>
                <key>spriteSize</key>
                <string>{234,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{771,705},{234,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,9}</string>
                <key>spriteSize</key>
                <string>{244,178}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{901,873},{244,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,2}</string>
                <key>spriteSize</key>
                <string>{256,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1603,1},{256,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-3}</string>
                <key>spriteSize</key>
                <string>{266,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{369,961},{266,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-4}</string>
                <key>spriteSize</key>
                <string>{290,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{565,591},{290,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-1}</string>
                <key>spriteSize</key>
                <string>{314,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1537,375},{314,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{334,198}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1197,377},{334,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{350,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{369,609},{350,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{366,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{785,191},{366,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{382,182}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{385,207},{382,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{396,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{803,1},{396,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{400,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1,609},{400,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{400,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{199,207},{400,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{400,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{187,609},{400,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{400,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1201,1},{400,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{400,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{401,1},{400,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{400,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1,207},{400,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{398,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{382,214}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{569,191},{382,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-11}</string>
                <key>spriteSize</key>
                <string>{366,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1,1011},{366,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{350,218}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{977,189},{350,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-3}</string>
                <key>spriteSize</key>
                <string>{334,192}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1201,183},{334,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{316,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1537,193},{316,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-17}</string>
                <key>spriteSize</key>
                <string>{300,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1533,573},{300,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-26}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{571,883},{288,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-33}</string>
                <key>spriteSize</key>
                <string>{274,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{741,883},{274,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-43}</string>
                <key>spriteSize</key>
                <string>{264,152}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1197,577},{264,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-44}</string>
                <key>spriteSize</key>
                <string>{252,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1197,731},{252,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-44}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1451,749},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-43}</string>
                <key>spriteSize</key>
                <string>{230,152}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1081,883},{230,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-44}</string>
                <key>spriteSize</key>
                <string>{218,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{977,541},{218,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,-43}</string>
                <key>spriteSize</key>
                <string>{204,152}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1651,901},{204,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-44}</string>
                <key>spriteSize</key>
                <string>{188,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1007,693},{188,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-45}</string>
                <key>spriteSize</key>
                <string>{172,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{901,1119},{172,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,-45}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{745,1159},{156,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-45}</string>
                <key>spriteSize</key>
                <string>{142,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1465,1045},{142,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-45}</string>
                <key>spriteSize</key>
                <string>{128,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1313,883},{128,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-142,-44}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1227,1193},{116,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,-44}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1075,1193},{104,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,-44}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1,1229},{90,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161,-44}</string>
                <key>spriteSize</key>
                <string>{78,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{153,1229},{78,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-168,-46}</string>
                <key>spriteSize</key>
                <string>{64,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1463,577},{64,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,-49}</string>
                <key>spriteSize</key>
                <string>{52,140}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1633,1191},{52,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,-56}</string>
                <key>spriteSize</key>
                <string>{40,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{895,1269},{40,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d1_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-185,-61}</string>
                <key>spriteSize</key>
                <string>{30,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1601,1189},{30,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-190,-64}</string>
                <key>spriteSize</key>
                <string>{20,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,238}</string>
                <key>textureRect</key>
                <string>{{1007,845},{20,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon1.png</string>
            <key>size</key>
            <string>{1860,1320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ffc900bd5f64cb1b5113c97909c797a:b73f805f8d0d6da56a0d6b2980b150e0:db01c4a627014aac95557f4f84bf140e$</string>
            <key>textureFileName</key>
            <string>dragon1.png</string>
        </dict>
    </dict>
</plist>
