<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_elem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,215}</string>
                <key>spriteSourceSize</key>
                <string>{259,215}</string>
                <key>textureRect</key>
                <string>{{187,929},{259,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_elem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,184}</string>
                <key>spriteSourceSize</key>
                <string>{238,184}</string>
                <key>textureRect</key>
                <string>{{1,929},{238,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower_elem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,195}</string>
                <key>spriteSourceSize</key>
                <string>{259,195}</string>
                <key>textureRect</key>
                <string>{{448,929},{259,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_elem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{102,89}</string>
                <key>textureRect</key>
                <string>{{867,929},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flowerbox_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-15}</string>
                <key>spriteSize</key>
                <string>{980,926}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{980,926}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,186}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{709,929},{156,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flowerBox.png</string>
            <key>size</key>
            <string>{982,1168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd8b86e0c57b509e988971f1a772256:8bf31cff7bec70c037e651324807d115:2e9ff22fb5920184d9242920d007b33a$</string>
            <key>textureFileName</key>
            <string>flowerBox.png</string>
        </dict>
    </dict>
</plist>
