<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glass_elem_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_mask_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,416}</string>
                <key>spriteSourceSize</key>
                <string>{361,416}</string>
                <key>textureRect</key>
                <string>{{1337,1},{361,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>glass_elems.png</string>
            <key>size</key>
            <string>{1699,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:688b91c937589d1aee34a92eb6f8d746:de336733dc7202c6701bc02c2fe53e04:767317f1196f5e8c0fe64df3579b3a36$</string>
            <key>textureFileName</key>
            <string>glass_elems.png</string>
        </dict>
    </dict>
</plist>
