<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1339,1},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1,275},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{670,275},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1339,275},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1,549},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{670,549},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1339,549},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1,823},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{670,823},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1339,823},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1,1097},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{670,1097},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,272}</string>
                <key>spriteSourceSize</key>
                <string>{667,272}</string>
                <key>textureRect</key>
                <string>{{1339,1097},{667,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loose_pulley_water.png</string>
            <key>size</key>
            <string>{2007,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27eedbb2daaf45c38f05220b3d6b148e:2725f1650cc914bac667a948f8b6541c:345640ad972e229758b207a947479812$</string>
            <key>textureFileName</key>
            <string>loose_pulley_water.png</string>
        </dict>
    </dict>
</plist>
