<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>box_000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2}</string>
			<key>spriteSize</key>
			<string>{374,308}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{703,500},{374,308}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{376,300}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{395,1502},{376,300}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{374,306}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{708,124},{374,306}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{374,306}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{699,876},{374,306}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-4}</string>
			<key>spriteSize</key>
			<string>{382,292}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,1546},{382,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-6}</string>
			<key>spriteSize</key>
			<string>{392,282}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,1262},{392,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-7}</string>
			<key>spriteSize</key>
			<string>{400,274}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,986},{400,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-8}</string>
			<key>spriteSize</key>
			<string>{410,264}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{437,296},{410,264}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-9}</string>
			<key>spriteSize</key>
			<string>{420,256}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,728},{420,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>box_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-10}</string>
			<key>spriteSize</key>
			<string>{392,274}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{423,728},{392,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-10}</string>
			<key>spriteSize</key>
			<string>{378,294}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{403,1122},{378,294}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>box_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{374,308}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{699,1252},{374,308}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boxback.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{372,107}</string>
			<key>spriteSourceSize</key>
			<string>{372,107}</string>
			<key>textureRect</key>
			<string>{{332,1},{372,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boxtop_000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,10}</string>
			<key>spriteSize</key>
			<string>{434,228}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,498},{434,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boxtop_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,8}</string>
			<key>spriteSize</key>
			<string>{434,224}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,272},{434,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boxtop_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,8}</string>
			<key>spriteSize</key>
			<string>{434,224}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,272},{434,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boxtop_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,8}</string>
			<key>spriteSize</key>
			<string>{434,224}</string>
			<key>spriteSourceSize</key>
			<string>{500,320}</string>
			<key>textureRect</key>
			<string>{{1,272},{434,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>left.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,196}</string>
			<key>spriteSourceSize</key>
			<string>{170,196}</string>
			<key>textureRect</key>
			<string>{{510,124},{170,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>perfume.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,253}</string>
			<key>spriteSourceSize</key>
			<string>{156,253}</string>
			<key>textureRect</key>
			<string>{{1,107},{156,253}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>pink_lip.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,224}</string>
			<key>spriteSourceSize</key>
			<string>{121,224}</string>
			<key>textureRect</key>
			<string>{{706,1},{121,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>red_lip.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,273}</string>
			<key>spriteSourceSize</key>
			<string>{104,273}</string>
			<key>textureRect</key>
			<string>{{57,1},{104,273}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{252,160}</string>
			<key>spriteSourceSize</key>
			<string>{252,160}</string>
			<key>textureRect</key>
			<string>{{256,110},{252,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,54}</string>
			<key>spriteSourceSize</key>
			<string>{40,54}</string>
			<key>textureRect</key>
			<string>{{1,1},{40,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>woman_box.png</string>
		<key>size</key>
		<string>{1015,1879}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:68c9bd16c5cad932add508074b356739:ff5b30f03cb1b3d7c4b03b626ee321c4:4e2ee02f22fd873d23570f15764b8ede$</string>
		<key>textureFileName</key>
		<string>woman_box.png</string>
	</dict>
</dict>
</plist>
