<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beer_left_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,412}</string>
                <key>spriteSourceSize</key>
                <string>{413,412}</string>
                <key>textureRect</key>
                <string>{{1,416},{413,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beer_right_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,413}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_left_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,52}</string>
                <key>textureRect</key>
                <string>{{1,830},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_middle_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,78}</string>
                <key>spriteSourceSize</key>
                <string>{41,78}</string>
                <key>textureRect</key>
                <string>{{159,830},{41,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_right_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{239,830},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_left_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{61,830},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_right_elem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{123,830},{34,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beer_elems.png</string>
            <key>size</key>
            <string>{415,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b4c7fce8d86e811955e85570b9080ad:21941f7d8a573833dcb5778b3c92b159:1e6848dd1cc676d9c9b73a81a6dff515$</string>
            <key>textureFileName</key>
            <string>beer_elems.png</string>
        </dict>
    </dict>
</plist>
