<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{395,1207},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,93}</string>
                <key>spriteSourceSize</key>
                <string>{124,93}</string>
                <key>textureRect</key>
                <string>{{219,1837},{124,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,100}</string>
                <key>spriteSourceSize</key>
                <string>{168,100}</string>
                <key>textureRect</key>
                <string>{{250,587},{168,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,628}</string>
                <key>spriteSourceSize</key>
                <string>{243,628}</string>
                <key>textureRect</key>
                <string>{{1,693},{243,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,147}</string>
                <key>spriteSourceSize</key>
                <string>{92,147}</string>
                <key>textureRect</key>
                <string>{{246,1207},{92,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{1976,1291},{99,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,690}</string>
                <key>spriteSourceSize</key>
                <string>{247,690}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,598}</string>
                <key>spriteSourceSize</key>
                <string>{216,598}</string>
                <key>textureRect</key>
                <string>{{1,1323},{216,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,584}</string>
                <key>spriteSourceSize</key>
                <string>{234,584}</string>
                <key>textureRect</key>
                <string>{{250,1},{234,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,216},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1000,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1514,1},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1000,216},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1514,216},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{486,431},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1000,431},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1514,431},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{219,1323},{512,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{246,693},{512,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{461,646},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{461,861},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{975,646},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{975,861},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1489,646},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1489,861},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{461,1076},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{975,1076},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1489,1076},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{434,1291},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{434,1506},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{948,1291},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{948,1506},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1462,1291},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1462,1506},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{434,1721},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{948,1721},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1462,1721},{512,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data1.png</string>
            <key>size</key>
            <string>{2027,1935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62543c86cbbc96aa2d7c0a31af296c5:61fb2be7e3ed4657f98c75bdd26c7331:2d04d7d5ccd1b0beef2cd6725c2ad0d6$</string>
            <key>textureFileName</key>
            <string>data1.png</string>
        </dict>
    </dict>
</plist>
