<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1312,658}</string>
                <key>spriteSourceSize</key>
                <string>{1312,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{1312,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1110,441}</string>
                <key>spriteSourceSize</key>
                <string>{1110,441}</string>
                <key>textureRect</key>
                <string>{{1,661},{1110,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{494,191}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,1055},{494,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{486,181}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1314,992},{486,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{476,173}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1312,1175},{476,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{468,167}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1143,1135},{468,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{460,157}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1312,1515},{460,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{450,149}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,1425},{450,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{442,141}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{744,1425},{442,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{448,147}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{595,1425},{448,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{454,153}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1349,1674},{454,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{460,157}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{887,1674},{460,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{466,163}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1312,1350},{466,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{472,169}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1143,661},{472,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{478,175}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,1248},{478,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{482,179}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{940,1161},{482,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{488,185}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1314,805},{488,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{496,193}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,860},{496,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{496,193}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,860},{496,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{498,195}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{946,661},{498,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picku_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{500,197}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1315,606},{500,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{500,197}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{444,661},{500,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{502,199}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1315,204},{502,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{502,199}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1315,405},{502,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picku_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{502,201}</string>
                <key>spriteSourceSize</key>
                <string>{512,213}</string>
                <key>textureRect</key>
                <string>{{1315,1},{502,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data2.png</string>
            <key>size</key>
            <string>{1818,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc5af962d2894bd25bc7367a62a5c25:2bb0781a6b9700fb7e60b76e7545863b:68d9453ac6ac0e5e887d927f03710d73$</string>
            <key>textureFileName</key>
            <string>data2.png</string>
        </dict>
    </dict>
</plist>
