<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,409},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,41}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,551},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,835},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,205},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1225},{720,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,36}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{853,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,409},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,41}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,693},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,965},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,41}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,693},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1095},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,205},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1225},{720,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,36}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{853,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,409},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,41}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,551},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,835},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,965},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,205},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1225},{720,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,36}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{853,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1095},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,205},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{720,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,1225},{720,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,36}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{853,1},{720,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{720,140}</string>
                <key>spriteSourceSize</key>
                <string>{750,230}</string>
                <key>textureRect</key>
                <string>{{1,409},{720,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{982,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46bfd33c191cf091bd3e2c37c6623044:122f023ced0ee121775be1f453dfa0c7:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
