<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{713,1},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{713,91},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>certification2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{710,627}</string>
                <key>spriteSourceSize</key>
                <string>{750,655}</string>
                <key>textureRect</key>
                <string>{{1,1},{710,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{713,181},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>marriage.png</string>
            <key>size</key>
            <string>{794,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db8ad17cf6072c1d361b82fa91e1c1ce:03a765fa41cf2850f4d538a724c4c450:17f7ba6c62ce0c68353c7025adfc5157$</string>
            <key>textureFileName</key>
            <string>marriage.png</string>
        </dict>
    </dict>
</plist>
