<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,427}</string>
                <key>spriteSourceSize</key>
                <string>{640,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{240,447}</string>
                <key>spriteSourceSize</key>
                <string>{262,447}</string>
                <key>textureRect</key>
                <string>{{643,1},{240,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>from.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,68}</string>
                <key>textureRect</key>
                <string>{{998,243},{160,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,71}</string>
                <key>spriteSourceSize</key>
                <string>{80,71}</string>
                <key>textureRect</key>
                <string>{{1157,327},{80,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,235}</string>
                <key>spriteSourceSize</key>
                <string>{353,235}</string>
                <key>textureRect</key>
                <string>{{643,243},{353,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,69}</string>
                <key>spriteSourceSize</key>
                <string>{240,69}</string>
                <key>textureRect</key>
                <string>{{998,405},{240,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,162}</string>
                <key>spriteSourceSize</key>
                <string>{324,162}</string>
                <key>textureRect</key>
                <string>{{1092,1},{324,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{1068,327},{87,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue_car.png</string>
            <key>size</key>
            <string>{1255,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f42c936418c9f6cc11cfba4a3df5b2:047d97f91a1c87b30d30089bcf867474:50adf29766daf7bd8141b09e840b7911$</string>
            <key>textureFileName</key>
            <string>blue_car.png</string>
        </dict>
    </dict>
</plist>
