<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_wheel_foam_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73.5,73.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{862,281},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{912,213},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{916,281},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{71,321},{36,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{201,321},{36,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{255,321},{36,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{737,342},{14,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73.5,73.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73.5,73.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73.5,73.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73.5,73.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-6}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{757,341},{16,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{730,281},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{802,281},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,9}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{730,213},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_wheel_foam_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{794,213},{58,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_wheel_foam_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{854,213},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_car_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,262}</string>
                <key>spriteSourceSize</key>
                <string>{447,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{447,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_car_shell2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,210}</string>
                <key>spriteSourceSize</key>
                <string>{526,210}</string>
                <key>textureRect</key>
                <string>{{450,1},{526,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-28}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{437,265},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{375,321},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{449,322},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{449,322},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{625,322},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{667,322},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-15}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{705,322},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{741,321},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{741,321},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{433,321},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>front_wheel_foam_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{709,342},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-28}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{437,265},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-19}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{309,351},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58.5,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{315,351},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-25}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{667,342},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-20}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{569,322},{54,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{505,322},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{309,321},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{309,321},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{68,32}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,322},{68,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_wheel_foam_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{135,321},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_roll_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{450,213},{54,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_roll_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{1,265},{54,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_roll_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{110,265},{54,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_roll_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{219,265},{54,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_roll_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{328,265},{54,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_roll_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{506,213},{54,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_roll_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{562,213},{54,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_roll_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{618,213},{54,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_roll_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,107}</string>
                <key>spriteSourceSize</key>
                <string>{54,109}</string>
                <key>textureRect</key>
                <string>{{674,213},{54,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yellow_car.png</string>
            <key>size</key>
            <string>{977,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e1fa097ffc08cc5446834e4cc809614:f2098c351e7161e2247c17eb844751eb:e5d76d8f2c5953ac686295bccbf2dec7$</string>
            <key>textureFileName</key>
            <string>yellow_car.png</string>
        </dict>
    </dict>
</plist>
