<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,85}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{348,1879},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,96}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{876,816},{129,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,99}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{868,1028},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,95}</string>
                <key>spriteSize</key>
                <string>{137,174}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{802,1826},{137,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,95}</string>
                <key>spriteSize</key>
                <string>{141,180}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{862,1236},{141,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,93}</string>
                <key>spriteSize</key>
                <string>{143,184}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{597,1828},{143,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,92}</string>
                <key>spriteSize</key>
                <string>{153,186}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{842,1436},{153,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,90}</string>
                <key>spriteSize</key>
                <string>{181,190}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{802,1634},{181,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,89}</string>
                <key>spriteSize</key>
                <string>{195,192}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{605,1634},{195,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,87}</string>
                <key>spriteSize</key>
                <string>{229,196}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{611,1436},{229,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,86}</string>
                <key>spriteSize</key>
                <string>{241,198}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{619,1236},{241,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,84}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{352,1675},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,82}</string>
                <key>spriteSize</key>
                <string>{247,206}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{619,1028},{247,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,80}</string>
                <key>spriteSize</key>
                <string>{249,210}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{625,816},{249,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,78}</string>
                <key>spriteSize</key>
                <string>{251,214}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{352,1459},{251,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,76}</string>
                <key>spriteSize</key>
                <string>{255,218}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{354,1239},{255,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,74}</string>
                <key>spriteSize</key>
                <string>{259,222}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{358,1015},{259,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,72}</string>
                <key>spriteSize</key>
                <string>{261,226}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{362,787},{261,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,69}</string>
                <key>spriteSize</key>
                <string>{277,232}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{711,344},{277,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,67}</string>
                <key>spriteSize</key>
                <string>{309,236}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{693,578},{309,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,66}</string>
                <key>spriteSize</key>
                <string>{323,238}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{368,547},{323,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,63}</string>
                <key>spriteSize</key>
                <string>{337,244}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{372,301},{337,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,61}</string>
                <key>spriteSize</key>
                <string>{341,248}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{739,1},{341,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,58}</string>
                <key>spriteSize</key>
                <string>{345,254}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1695},{345,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,56}</string>
                <key>spriteSize</key>
                <string>{349,258}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1435},{349,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,52}</string>
                <key>spriteSize</key>
                <string>{351,266}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1167},{351,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,48}</string>
                <key>spriteSize</key>
                <string>{355,274}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,891},{355,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,45}</string>
                <key>spriteSize</key>
                <string>{359,280}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,609},{359,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{365,298}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{372,1},{365,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,35}</string>
                <key>spriteSize</key>
                <string>{365,300}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,307},{365,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,33}</string>
                <key>spriteSize</key>
                <string>{369,304}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magic.png</string>
            <key>size</key>
            <string>{1004,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed8a0f263720a4aa040b6a5629a6db4:152fc7525c85c03e5e1f3b12680ced25:429454412616a97fdd69075ee395674e$</string>
            <key>textureFileName</key>
            <string>magic.png</string>
        </dict>
    </dict>
</plist>
