<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{373,306}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1407,1},{373,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{375,310}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1103,378},{375,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{375,314}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1091,1},{375,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{375,344}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{745,1},{375,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{375,354}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1132,1132},{375,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{375,356}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1099,755},{375,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{375,358}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{739,755},{375,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{375,358}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{755,1132},{375,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{375,358}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{743,378},{375,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{375,360}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{378,1132},{375,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{375,364}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{373,755},{375,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{375,368}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{373,378},{375,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,378},{375,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,755},{375,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{1,1132},{375,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,370}</string>
                <key>textureRect</key>
                <string>{{373,1},{375,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magic2.png</string>
            <key>size</key>
            <string>{1714,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ecc8e3f9d92d4beed5d079b10af69c:ccca14f0caf2874af0e6354ba6d38514:5c7c784df6ae8c77458f630e609f302a$</string>
            <key>textureFileName</key>
            <string>magic2.png</string>
        </dict>
    </dict>
</plist>
