<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cupit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{240,315}</string>
                <key>spriteSourceSize</key>
                <string>{262,315}</string>
                <key>textureRect</key>
                <string>{{1,309},{240,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{85,50}</string>
                <key>spriteSourceSize</key>
                <string>{89,52}</string>
                <key>textureRect</key>
                <string>{{409,811},{85,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart-p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{372,261},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{409,898},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,306}</string>
                <key>spriteSourceSize</key>
                <string>{369,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qietu-flay_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{386,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{1,626},{386,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qietu-flay_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{348,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{243,309},{348,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qietu-flay_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{159,1051},{308,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qietu-flay_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{268,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{313,1051},{268,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qietu-flay_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{163,659},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qietu-flay_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{340,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{1,1014},{340,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-max-pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,238}</string>
                <key>spriteSourceSize</key>
                <string>{244,238}</string>
                <key>textureRect</key>
                <string>{{163,811},{244,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-min-pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{372,151},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-min-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{372,206},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,80}</string>
                <key>spriteSourceSize</key>
                <string>{148,82}</string>
                <key>textureRect</key>
                <string>{{372,1},{148,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cupid.png</string>
            <key>size</key>
            <string>{464,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf9b6221bc189ba9b2591578cac4ef9:53b22587509d7f550c14aa7819d347b8:38cbb5a3db8ba1c65a28cfd2443ce049$</string>
            <key>textureFileName</key>
            <string>cupid.png</string>
        </dict>
    </dict>
</plist>
